.redes{
    display: flex;
    gap: 18px;
    align-items: center;
}

.redes a{
    color: #6b6b6b;
    font-size: 18px;
    transition: 0.3s;
}

.redes a:hover{
    color: black;
    transform: scale(1.15);
}

.sup{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px){

    .footer{
        padding: 20px;
        gap: 15px;
    }

    .sup{
        flex-direction: column;
        gap: 10px;
    }

    .redes{
        align-items: center;
        justify-content: center;
    }

}
